@media (max-width: 1080px) {

    .container {
        background: #674BB0 url('../images/bg-mobile.svg') no-repeat top center fixed;

        background-size: contain;

        
    }

    .container .conteudo {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 600px;

        margin: auto;

        gap: 150px;
    }

    .container .conteudo .img {
        width: 400px;
    }

    .container .conteudo .informacoes {
        width: 400px;
        text-align: center;
    }

    .container .conteudo .informacoes h1 {
        width: 350px;
    }

    .container .conteudo .informacoes .btn {
        width: 250px;
    }


    .container .rodape .redes-sociais {

        height: 250px;


    }

    .container .rodape .redes-sociais {
        justify-content: center;
        align-items: center;
        flex-direction: row;

        margin-right: 0;
        margin-top: 50px;
    }

}

@media (max-width: 500px) {

    .logo img {
        width: 120px;

        margin-bottom: 50px;
    }


    .container .conteudo {
        width: 375px;
        gap: 50px;
        
        
    }

    .container .conteudo .img {
        width: 300px;
    }

    .container .conteudo .informacoes {
        width: 350px;
    }

    .container .conteudo .informacoes h1 {
        width: 300px;

        font-size: 26px;
        font-weight: 500;

        line-height: 40px;

        margin: auto;
    }

    .container .conteudo .informacoes p {
        padding-top: 20px;
    }

    .container .rodape .redes-sociais {
        height: 150px;
    }

    .container .rodape span {
        width: 35px;
        height: 35px;

        line-height: 35px;
    }

    .fa-facebook-f, .fa-instagram, .fa-twitter {
        font-size: 20px;
        transition: 0.2s;
    }
}